/*
logot home start here
*/

.logo-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
  }
  
  .logo {
    background-color: transparent;
    height: 80px;
    width: 120px;
  }
  /*
  logot home ends here
  */