.fa-cart-shopping {
  position: relative;
  left: 16px;
}
.cart-quantity {
  display: inline-flex;
  height: 21px;
  width: 21px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -13px;
  top: -12px;
  border-radius: 10px;
  background-color: #2c4c84;
  font-size: 17px;
  font-weight: 600;
}
.cart-quantity span {
  color: white;
}

.cart-background-box {
  background-image: url(../images/SnowyMountainBike.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2c4c84;
  border-radius: 5px;
  border-width: 1px;
  max-width: 100%;
}
.cart-container-box {
  position: relative;
}
.cart-container-box h2 {
  font-weight: 600;
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}
.cart-container-box .titles-box {
  margin: 2rem 0 1rem 0;
}
.cart-container-box .titles-box h3 {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.cart-item-box,
.cart-container-box .titles-box {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr 2fr 1fr;
}
.cart-item-box {
  border: 0.2px solid;
  border-color: #2c4c84;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  background-color: white;
  column-gap: 0px;
  margin-bottom: 3px;
}
.cart-container-box .titles-box .product-title-box {
  padding-left: 5.2rem;
}
.cart-container-box .titles-box .total-box {
  padding-right: 3.6rem;
  justify-self: right;
}
.cart-container-box .titles-box .quantity-box {
  margin-left: 0.8rem;
}
.cart-item-box .cart-product-box {
  display: flex;
}
.cart-item-box .cart-product-box img {
  width: 100px;
  max-width: 100%;
  margin-right: 0.7rem;
}
.cart-item-box .cart-product-box h3 {
  font-weight: 400;
  font-size: 15px;
  position: absolute;
}
.cart-item-box .cart-product-box button {
  border: none;
  outline: none;
  margin-top: 2.1rem;
  padding-left: 0px;
  cursor: pointer;
  background: none;
  color: #2c4c84;
}
.cart-item-box .cart-product-box button:hover {
  color: #001d4e;
}
.cart-item-box .cart-product-price-box {
  margin-left: 0px;
  margin-top: 1.5rem;
}
.cart-item-box .cart-product-quantity-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100px;
  max-width: 90%;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  margin-top: 1.5rem;
}
.cart-item-box .cart-product-quantity-box button {
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 1.1rem;
  cursor: pointer;
}
.cart-item-box .cart-product-quantity-box .count-box {
  padding: 0.5rem 0;
}
.cart-item-box .cart-product-total-price-box {
  padding-right: 0rem;
  position: absolute;
  justify-self: right;
  font-weight: 700;
  margin-top: 1.6rem; 
}
.cart-summary-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-summary-box .clear-cart-box {
  background-color: #7584B4;
  width: 175px;
  font-weight: 500;
  padding: 10px;
  border-radius: 100px;
  border-width: 0;
}
.cart-summary-box .clear-cart-box:hover {
  background-color: #5d72b8;
}
.cart-checkout-box {
  width: 140px;
  max-width: 100%;
  padding-bottom: 10px;
}
.cart-checkout-box .subtotal-box {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}
.cart-checkout-box .amount-box {
  font-weight: 700;
  color: black;
}
.cart-checkout-box .amount-text-box {
  color: black;
  font-weight: 600;
}
.cart-checkout-box button {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #2c4c84;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
}
.start-shopping-box {
  margin-top: 1rem;
}
.continue-shopping-box a,
.start-shopping-box a {
  color: rgb(32, 32, 32);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.continue-shopping-box a span,
.start-shopping-box a span {
  margin-left: 0.5rem;
  color: rgb(61, 61, 61);
}
.cart-empty-box {
  font-size: 20px;
  font-weight: 500;
  margin-top: 2rem;
  color: rgb(49, 49, 49);
  align-items: center;
}
