* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/*
Navbar css starts here
*/
.top-nav {
  background-color: #7584B4;
  padding: 10px;
  margin-block: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img {
  margin-left: 20px;
  height: 80px;
}

.top-nav-search {
  width: 633px;
  height: 35px;
  margin: auto;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
}

.user {
  display: flex;
  flex-direction: row;
}

.user-logo {
  height: 50px;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.cart-logo {
  height: 35px;
}

.bottom-nav {
  display: flex;
  border: 1px solid black;
  height: 40px;
  background-color: black;
}

.bottom-nav>ul {
  list-style: none;
  color: white;
  margin-block: auto;
}

.bottom-nav>ul>li {
  display: inline;
  margin-left: 20px;
}
/*
Navbar css ends here
*/
.main {
  min-height: 100vh;
}
/*
Footer css starts here
*/
footer {
  padding: 10px;
  margin-top: auto;
  background-color: black;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 150px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-ul {
  list-style: none;
}

.footer-ul>li:first-child {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.footer-tuoteryhma>ul>li {
  margin-bottom: 5px;
}

dt {
  text-decoration: underline;
  font-size: 18px;
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
  display: flex;
  flex-direction: column;
}

.span-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}
/*
Footer css ends here
*/


/*
ImageFrame css starts here
*/
.image-row{
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.image-container{
  position: relative;
}
.black-canvas{
  position: absolute;
  color: white;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.image-container:hover .black-canvas{
  display: block;
}

/*
ImageFrame css ends here
*/

/*
card item css starts here
*/
.card-item{
border: 1px solid black;
border-radius: 10px;
width: 300px;
padding: 10px;
margin-bottom: 20px;
text-align: center;
margin: 20px;
}
.card-image-container{
margin-bottom: 10px;
}
.card-footer{
display: flex;
flex-direction: column;
padding: 10px;
}
.card-footer span{
  font-size: 35px;
  margin-bottom: 5px;
}
.card-footer button{
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 40px;
}

/*
card item css ends here
*/
/*
banner css starts here
*/
.front{
  background-image: url(../src/images/snow.png);
  background-size: cover;
  background-repeat: no-repeat;
}



/*
banner css ends here
*/
.lista-test{
width: 95%;
margin: auto;
overflow-x: scroll;
}
.lista-test>ul{
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
/*
logot home start here
*/

.logo-ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.logo{
  background-color: transparent;
  height: 80px;
  width: 120px;
}