* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/*
Navbar css starts here
*/
.top-nav {
  background-color: #7584B4;
  padding: 10px;
  margin-block: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img {
  margin-left: 20px;
  height: 80px;
}

.top-nav-search {
  width: 550px;
  height: 40px;
  margin-left: auto;
  border-radius:10px 0 0 10px;
  border: 1px solid black;
  border: none;
  text-indent: 15px;
}
.search-button{
height: 40px;
width: 75px;
background-color: #2C4C84;
border-radius:0 10px 10px 0;
border: none;
}
.search-button:active{
  box-shadow: -2px 0px 8px 5px rgba(0,0,0,0.2) inset;
}
.user {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.user-logo {
  height: 50px;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.cart-logo {
  height: 35px;
}

.bottom-nav {
  display: flex;
  border: 1px solid black;
  height: 40px;
  background-color: black;
}

.bottom-nav>ul {
  list-style: none;
  color: white;
  margin-block: auto;
}

.bottom-nav>ul>li {
  display: inline;
  margin-left: 20px;
}
/*
Navbar css ends here
*/
.main {
  min-height: 100vh;
}
/*
Footer css starts here
*/
footer {
  padding: 10px;
  margin-top: auto;
  background-color: black;
  color: white;
}

.footer-ul {
  list-style: none;
}

.footer-ul>li:first-child {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-tuoteryhma>ul>li {
  margin-bottom: 5px;
}

dt {
  text-decoration: underline;
  font-size: 18px;
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
  display: flex;
  flex-direction: column;
}

.span-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}
.footer-logos{
  display: flex;
  flex-direction: row;
}
.footer-logos img{
  max-height: 150px;
}
.footer-logos ul{
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 20px;

}
.footer-logos li:hover{
color: #7584B4;
cursor: pointer;
}
.quote{
  display: flex;
  justify-content:right;
  align-items: flex-end;
  
}
.quote p{
  font-size: large;
  font-style: italic;
}
/*
Footer css ends here
*/


/*
ImageFrame css starts here
*/
.image-row{
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.image-container{
  position: relative;
}
.black-canvas{
  position: absolute;
  color: white;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.image-container:hover .black-canvas{
  display: block;
}

/*
ImageFrame css ends here
*/

/*
card item css starts here
*/
.card-item {
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin: 0;
  max-width: 120px;

}
.card-item h5{
  font-size:15px;
  margin-bottom: 0;
}
.card-image-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.card-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-footer span {
  font-size: 15px;
  color: red;
  margin-bottom: 5px;
}

.card-footer button {
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 40px;
}

/*
card item css ends here
*/
/*
banner css starts here
*/
.front{
  background-image: url(../src/images/snow.png);
  background-size: cover;
  background-repeat: no-repeat;
}



/*
banner css ends here
*/
/*
logot home start here
*/

.logo-ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.logo{
  background-color: transparent;
  height: 80px;
  width: 120px;
}
/*
Slider starts here
*/
.slider-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-slide {
  background-color: white;
  border-radius: 10px;
  padding:20px 40px 20px 40px;
  max-width: 1180px;
  min-width: 300px;
  margin: auto;
  
}
.button-container{
  position: relative;
  display: flex;
  top: -150px;
}
.carousel-control-prev{
  height: 40px;
  width: 40px;
  left: -40px;
}
.carousel-control-next{
  height: 40px;
  width: 40px;
  right: -40px;

}
.carousel-control-prev-icon {
  background-color: #7584B4;
}

.carousel-control-next-icon {
  background-color: #7584B4;
}

.carousel-inner {
  display: flex;
  background-color: white;
  scroll-behavior: smooth;
}
.carousel-item {
  display: block;
  margin-right: 0;
  flex: 0 0 calc(100% / 6);
  margin-left: 0;
  padding: 0;
  margin: 0;
}
.carousel-slide h3{
  border-bottom: 2px solid;
  border-image:   linear-gradient(to right, transparent 14%,black 8%,black 40%, black 50%)10;

}
/*
Slider Ends here
*/